<div class="language-nav">
	<f:link.page addQueryString="TRUE" additionalParams="{L:\"{f:translate(key:'LLL:EXT:tmpl_digizeit/Resources/Private/Language/locallang.xlf:langLink')}\"}"><f:translate key="LLL:EXT:tmpl_digizeit/Resources/Private/Language/locallang.xlf:lang" /></f:link.page>
</div>
